.carousel-fade .carousel-item {
    display: block;
    position: relative;
    opacity: 0;
    transition: opacity .75s ease-in-out;
    box-shadow: 0 10px 25px 0 rgba(0,0,0,.3);
    border-radius: .25rem;
    img{
        box-shadow: 0 10px 25px 0 rgba(0,0,0,.3);
        border-radius: .25rem;
    }
  }
  
  .carousel-fade .carousel-item.active {
    opacity: 1;
    display: block;
    box-shadow: 0 10px 25px 0 rgba(0,0,0,.3);
    border-radius: .25rem;
  }

  .carousel {
    position: relative;
    top: 0;
    left: 0;
    background-color: lightskyblue;
    margin-bottom: 15px;
    
  }
  .carousel-inner {
    background-color: pink;
    height: 100%;
  }
  .carousel-item {
    background-color: yellow;
    opacity: .5; /*Added clone in this line*/
  }
  a.carousel-control-next:link, a.carousel-control-prev:link {
    background-color: transparent;
    text-decoration: none;
    opacity: .5;
  }
  a.carousel-control-next:hover, a.carousel-control-prev:hover  { 
    background-color: transparent;
    text-decoration: none;
    opacity: 1;
  }
  .carousel-control-next-icon, .carousel-control-prev-icon {
    position:relative;
    background-image: none;
  }    
  .carousel-control-next-icon:before {
    top:0;
    left:-5px;
    padding-right:10px;
   }
  .carousel-control-prev-icon:before {
    top:0;
    left:-5px;
    padding-right:10px;
  }
  .sidebar {
    background-color: #e1e1e1;
  }