// Global styling for this template
body {
  overflow-x: hidden;
  @include default-font;
}

p {
  line-height: 1.375;
}
p,li{
  font-size: 1rem;
  margin-bottom: 10px;
}

a {
  text-decoration: none!important;
  &:hover {
    color: darken($primary, 10%);
  }
}

.text-primary {
  color: $primary !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  @include heading-font;
  color : $black-bg;
}
h1{
  font-size: 1.5rem;
}
h2{
  margin-bottom: 40px;
  color: $primary;
}
section{
  padding: 25px 0;
    p, li{
      font-size: 1rem;
    }
    img{
      width: 100%;
    }
    h2,h3{
      text-align: center;
    }
    h3{
      margin-top: 15px;
      margin-bottom: 15px;
      font-weight: 500;
      font-size: 1.5rem;
    }
}
ul.social-buttons{
  .fb-bg{
    background-color: $fb-color;
  }
  .twitter-bg{
    background-color: $twitter-color;
  }
  .linkedn-bg{
    background-color: $linkedn-color;
  }
}

// Button Styles
.btn {
  @include heading-font;
  font-weight: 700;
  color: $primary;
  border-radius: 12px;
  font-size: 24px;
  padding: 10px;
  &:active,
  &:focus,
  &:hover {
    background-color: #4dadf7!important;
    color: #FFF;
  }
  &.btn-request-quote,  &#profilesRhBtn{
    width: 100%;
    color: $white;
    background-color: $btn-color;
  } 
}
a.btn-orange{
        background-color: #f33816!important;
        color: #FFFFFF;
            &:hover{  
                background-color: #4dadf7!important;
                color: #FFFFFF;
                box-shadow: none;
            }
    }
    a.btn-white{
        background-color: #FFF!important;
        color: $black-bg;
            &:hover{  
                background-color: #4dadf7!important;
                color: #FFF;
                box-shadow: none;
            }
    }
    a.btn-green{ 
        background-color: #509a6e!important;
        color: $white;
            &:hover{  
                background-color: #4dadf7!important;
                color: #FFF;
                box-shadow: none;
            }
    }
.btn-red{
  font-size: 1rem;
  background-color: #f5686a;
  color: $white;
  padding: 0px 20px;
      &:hover{  
          background-color: #4dadf7;
          color: #FFF;
          box-shadow: none;
      }
} 
.btn-blue{ 
  background-color: #4dadf7!important;
  color: $white;
      &:hover{  
          background-color: #FFF!important;
          color: #4dadf7!important;
          box-shadow: none;
      }
} 
.btn-gray{
  background-color: #878f99!important;
  color: #fff!important;
    &:hover{
      background-color: #4dadf7!important;
      color: #fff!important;
      box-shadow: none
    }
}
.btn-brown{
  background-color: #b9936c!important;
  color: #fff!important;
    &:hover{
      background-color: #4dadf7!important;
      color: #fff!important;
      box-shadow: none
    }

}
.bg-green{
  color: $white;
  background-color:$bg-green;
}    
.bg-orange{
  background-color: #f3ae7c!important;
}   

@media(min-width:992px){
  h1{
    font-size: 2.5rem;
  }
  h2{
    font-size: 2.25rem;
  }
  
  section{
    padding: 50px 0;
    h2,h3{
      text-align: left;
    }
    h3{
      margin-bottom: 30px;
      font-size: 1.75rem;
    }
  }
}
